<div class='intro'>
    <div class='header'>
        <div class ='header-component logo'> 
            <img src='assets/images/pudding-p.png'>
        </div>
        <div class ='header-component title'>
            <p class='header-title__top'>{{{doc.header-title__top}}}</p>
            <p class='header-title__middle'>{{{doc.header-title__middle}}}</p>
            <p class='header-title__bottom'>{{{doc.header-title__bottom}}}</p>
        </div>
        <div class ='header-component journal-cover'>
            <img src='assets/images/pudding-cover.png'>
        </div>
    </div>

	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<time class='intro__time'>April 2019</time>
</div>