<div class='nav-bar hidden'>

    <div class='btn-back'>
        <img inline src='arrow-left.svg'>
    </div>
    <div class='current-slide-num'>1/10</div>
    <div class='btn-fwd'>
        <img inline src='arrow-right.svg'>
    </div>

</div>

<section class='story'>
    <span class='sneaky-span'>A</span>

    <div class='chart-static'>
        <div class='chart-static-meta'>
          <div class='prose'>
            <div class='prose-para part-1'>
              {{#each doc.part1}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-2 hidden'>
              {{#each doc.part2}}
                <p class='p-{{@index}}'>{{{value}}}</p>
              {{/each}}
              <div class='spin-imgs'>
                <div class='img-wrap '>
                  <img src='assets/images/spin1.png'>
                </div>
                <div class='img-wrap hide'>
                  <img src='assets/images/spin2.png'>
                </div>
                <div class='img-wrap'>
                  <img src='assets/images/spin3.png'>
                </div>
                <div class='img-wrap hide'>
                  <img src='assets/images/spin4.png'>
                </div>
                <div class='img-wrap'>
                  <img src='assets/images/spin5.png'>
                </div>
                <div class='img-wrap hide'>
                  <img src='assets/images/spin6.png'>
                </div>
              </div>
            </div>
            <div class='prose-para part-3 hidden'>
              {{#each doc.part3}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-4 hidden'>
              {{#each doc.part4}}
                <p>{{{value}}}</p>
              {{/each}}
              <div id="g-sw1-box" class="ai2html ai2html-box-v5">
              	<!-- Artboard: desktop -->
              	<div id="g-sw1-desktop" class="g-artboard" data-aspect-ratio="1.544">
              		<img id="g-sw1-desktop-img" class="g-aiImg" src="assets/images/sw1-desktop.jpg"/>
              		<div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.5218%;margin-top:-11.4px;left:0.125%;width:60px;">
              			<p class="g-pstyle0">100%</p>
              		</div>
              		<div id="g-ai0-2" class="g-Layer_1 g-aiAbs" style="top:18.4286%;left:16.9501%;width:45%;">
              			<p>Studies from 1993 or prior had a lower than 10% likelihood of having accessible data</p>
              		</div>
              		<div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.4137%;margin-top:-11.4px;left:0.125%;width:53px;">
              			<p class="g-pstyle0">50%</p>
              		</div>
              		<div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:55.4178%;margin-top:-15.1px;left:95.3331%;margin-left:-31px;width:62px;">
              			<p class="g-pstyle1">38%</p>
              		</div>
              		<div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:62.1745%;margin-top:-15.1px;left:68.2134%;margin-left:-31.5px;width:63px;">
              			<p class="g-pstyle1">30%</p>
              		</div>
              		<div id="g-ai0-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:64.6842%;margin-top:-15.1px;left:86.3807%;margin-left:-31px;width:62px;">
              			<p class="g-pstyle1">27%</p>
              		</div>
              		<div id="g-ai0-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6494%;margin-top:-15.1px;left:77.1978%;margin-left:-31px;width:62px;">
              			<p class="g-pstyle1">26%</p>
              		</div>
              		<div id="g-ai0-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.1938%;margin-top:-15.1px;left:59.1915%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">24%</p>
              		</div>
              		<div id="g-ai0-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:23.0389%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">23%</p>
              		</div>
              		<div id="g-ai0-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:32.0393%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">23%</p>
              		</div>
              		<div id="g-ai0-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:71.2479%;margin-top:-15.1px;left:50.0605%;margin-left:-29.5px;width:59px;">
              			<p class="g-pstyle1">19%</p>
              		</div>
              		<div id="g-ai0-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:73.7575%;margin-top:-15.1px;left:41.0571%;margin-left:-29.5px;width:59px;">
              			<p class="g-pstyle1">16%</p>
              		</div>
              		<div id="g-ai0-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:81.0934%;margin-top:-15.1px;left:4.9371%;margin-left:-25.5px;width:51px;">
              			<p class="g-pstyle1">7%</p>
              		</div>
              		<div id="g-ai0-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:84.7614%;margin-top:-15.1px;left:13.8854%;margin-left:-25px;width:50px;">
              			<p class="g-pstyle1">3%</p>
              		</div>
              		<div id="g-ai0-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:4.8871%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">1991</p>
              		</div>
              		<div id="g-ai0-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:13.9319%;margin-left:-32.5px;width:65px;">
              			<p class="g-pstyle1">1993</p>
              		</div>
              		<div id="g-ai0-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:23.0609%;margin-left:-32.5px;width:65px;">
              			<p class="g-pstyle1">1995</p>
              		</div>
              		<div id="g-ai0-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:32.0408%;margin-left:-32px;width:64px;">
              			<p class="g-pstyle1">1997</p>
              		</div>
              		<div id="g-ai0-19" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:41.0792%;margin-left:-33px;width:66px;">
              			<p class="g-pstyle1">1999</p>
              		</div>
              		<div id="g-ai0-20" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:50.0781%;margin-left:-33px;width:66px;">
              			<p class="g-pstyle1">2001</p>
              		</div>
              		<div id="g-ai0-21" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:59.2056%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2003</p>
              		</div>
              		<div id="g-ai0-22" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:68.1924%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2005</p>
              		</div>
              		<div id="g-ai0-23" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:77.2273%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2007</p>
              		</div>
              		<div id="g-ai0-24" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:86.3558%;margin-left:-35px;width:70px;">
              			<p class="g-pstyle1">2009</p>
              		</div>
              		<div id="g-ai0-25" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:95.3562%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">2011</p>
              		</div>
              	</div>

                <!-- Artboard: mid -->
              	<div id="g-sw1-mid" class="g-artboard" data-aspect-ratio="0.965">
              		<img id="g-sw1-mid-img" class="g-aiImg" src="assets/images/sw1-mid.jpg"/>
              		<div id="g-ai2-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.5218%;margin-top:-11.4px;left:0.4%;width:60px;">
              			<p class="g-pstyle0">100%</p>
              		</div>
              		<div id="g-ai2-2" class="g-Layer_1 g-aiAbs" style="top:18.4286%;left:17.2098%;width:69.2%;">
              			<p>Studies from 1993 or prior had a lower than 10% likelihood of having accessible data</p>
              		</div>
              		<div id="g-ai2-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.4137%;margin-top:-11.4px;left:0.4%;width:53px;">
              			<p class="g-pstyle0">50%</p>
              		</div>
              		<div id="g-ai2-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:55.4178%;margin-top:-15.1px;left:95.3652%;margin-left:-22.5px;width:45px;">
              			<p class="g-pstyle1">38</p>
              		</div>
              		<div id="g-ai2-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:62.1745%;margin-top:-15.1px;left:68.3461%;margin-left:-23px;width:46px;">
              			<p class="g-pstyle1">30</p>
              		</div>
              		<div id="g-ai2-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:64.6842%;margin-top:-15.1px;left:86.4252%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">27</p>
              		</div>
              		<div id="g-ai2-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6494%;margin-top:-15.1px;left:77.2928%;margin-left:-22.5px;width:45px;">
              			<p class="g-pstyle1">26</p>
              		</div>
              		<div id="g-ai2-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.1938%;margin-top:-15.1px;left:59.3037%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">24</p>
              		</div>
              		<div id="g-ai2-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:23.3084%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">23</p>
              		</div>
              		<div id="g-ai2-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:32.2807%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">23</p>
              		</div>
              		<div id="g-ai2-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:71.2479%;margin-top:-15.1px;left:50.2459%;margin-left:-21px;width:42px;">
              			<p class="g-pstyle1">19</p>
              		</div>
              		<div id="g-ai2-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:73.7575%;margin-top:-15.1px;left:41.2688%;margin-left:-21px;width:42px;">
              			<p class="g-pstyle1">16</p>
              		</div>
              		<div id="g-ai2-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:81.0934%;margin-top:-15.1px;left:5.2475%;margin-left:-25.5px;width:51px;">
              			<p class="g-pstyle1">7%</p>
              		</div>
              		<div id="g-ai2-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:84.7614%;margin-top:-15.1px;left:14.1789%;margin-left:-16.5px;width:33px;">
              			<p class="g-pstyle1">3</p>
              		</div>
              		<div id="g-ai2-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:5.1676%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">1991</p>
              		</div>
              		<div id="g-ai2-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:23.3012%;margin-left:-32.5px;width:65px;">
              			<p class="g-pstyle1">1995</p>
              		</div>
              		<div id="g-ai2-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:41.2734%;margin-left:-33px;width:66px;">
              			<p class="g-pstyle1">1999</p>
              		</div>
              		<div id="g-ai2-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:59.3318%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2003</p>
              		</div>
              		<div id="g-ai2-19" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:77.3096%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2007</p>
              		</div>
              		<div id="g-ai2-20" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:95.3717%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">2011</p>
              		</div>
              	</div>

              	<!-- Artboard: mobile -->
              	<div id="g-sw1-mobile" class="g-artboard" data-aspect-ratio="0.869">
              		<img id="g-sw1-mobile-img" class="g-aiImg" src="assets/images/sw1-mobile.jpg"/>
              		<div id="g-ai1-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:4.5218%;margin-top:-11.4px;left:0.2222%;width:60px;">
              			<p class="g-pstyle0">100%</p>
              		</div>
              		<div id="g-ai1-2" class="g-Layer_1 g-aiAbs" style="top:18.4286%;left:17.0309%;width:63.3333%;">
              			<p>Studies from 1993 or prior had a lower than 10% likelihood of having accessible data</p>
              		</div>
              		<div id="g-ai1-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.4137%;margin-top:-11.4px;left:0.2222%;width:53px;">
              			<p class="g-pstyle0">50%</p>
              		</div>
              		<div id="g-ai1-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:55.4178%;margin-top:-15.1px;left:95.3546%;margin-left:-22.5px;width:45px;">
              			<p class="g-pstyle1">38</p>
              		</div>
              		<div id="g-ai1-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:62.1745%;margin-top:-15.1px;left:68.2819%;margin-left:-23px;width:46px;">
              			<p class="g-pstyle1">30</p>
              		</div>
              		<div id="g-ai1-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:64.6842%;margin-top:-15.1px;left:86.3989%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">27</p>
              		</div>
              		<div id="g-ai1-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6494%;margin-top:-15.1px;left:77.2452%;margin-left:-22.5px;width:45px;">
              			<p class="g-pstyle1">26</p>
              		</div>
              		<div id="g-ai1-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.1938%;margin-top:-15.1px;left:59.2122%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">24</p>
              		</div>
              		<div id="g-ai1-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:23.1434%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">23</p>
              		</div>
              		<div id="g-ai1-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:67.966%;margin-top:-15.1px;left:32.135%;margin-left:-22px;width:44px;">
              			<p class="g-pstyle1">23</p>
              		</div>
              		<div id="g-ai1-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:71.2479%;margin-top:-15.1px;left:50.1413%;margin-left:-21px;width:42px;">
              			<p class="g-pstyle1">19</p>
              		</div>
              		<div id="g-ai1-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:73.7575%;margin-top:-15.1px;left:41.1443%;margin-left:-21px;width:42px;">
              			<p class="g-pstyle1">16</p>
              		</div>
              		<div id="g-ai1-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:81.0934%;margin-top:-15.1px;left:5.0462%;margin-left:-25.5px;width:51px;">
              			<p class="g-pstyle1">7%</p>
              		</div>
              		<div id="g-ai1-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:84.7614%;margin-top:-15.1px;left:13.9924%;margin-left:-16.5px;width:33px;">
              			<p class="g-pstyle1">3</p>
              		</div>
              		<div id="g-ai1-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:4.9575%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">1991</p>
              		</div>
              		<div id="g-ai1-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:23.1354%;margin-left:-32.5px;width:65px;">
              			<p class="g-pstyle1">1995</p>
              		</div>
              		<div id="g-ai1-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:41.1495%;margin-left:-33px;width:66px;">
              			<p class="g-pstyle1">1999</p>
              		</div>
              		<div id="g-ai1-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:59.2435%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2003</p>
              		</div>
              		<div id="g-ai1-19" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:77.2639%;margin-left:-34.5px;width:69px;">
              			<p class="g-pstyle1">2007</p>
              		</div>
              		<div id="g-ai1-20" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7652%;margin-top:-15.1px;left:95.3618%;margin-left:-30.5px;width:61px;">
              			<p class="g-pstyle1">2011</p>
              		</div>
              	</div>

              </div>
            </div>
            <div class='prose-para part-5 hidden'>
              {{#each doc.part5}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-6 hidden'>
              {{#each doc.part6}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-7 hidden'>
              {{#each doc.part7}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-8 hidden'>
              {{#each doc.part8}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-9 hidden'>
              {{#each doc.part9}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-10 hidden methods'>
              <span>Methods</span>
              {{#each doc.part10}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='chart-dynamic hidden'>
          <div class='chart-dynamic-legend'></div>
          <div class='chart-dynamic-chart'></div>
        </div>
    </div>

</section>
