<section class='story'>

    <div class='nav-bar'>

        <div class='btn-back'>
            <img inline src='arrow-left.svg'>
        </div>
        <div class='current-slide-num'>1/10</div>
        <div class='btn-fwd'>
            <img inline src='arrow-right.svg'>
        </div>

    </div>
    <div class='chart-static'>
        <div class='chart-static-meta'>
          <div class='prose'>
            <div class='prose-para part-1'>
              {{#each doc.part1}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-2 hidden'>
              {{#each doc.part2}}
                <p>{{{value}}}</p>
              {{/each}}
              <img src='assets/images/crisis.png'>
            </div>
            <div class='prose-para part-3 hidden'>
              {{#each doc.part3}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-4 hidden'>
              {{#each doc.part4}}
                <p>{{{value}}}</p>
              {{/each}}
              <img src='assets/images/availability_time.png'>
            </div>
            <div class='prose-para part-5 hidden'>
              {{#each doc.part5}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-6 hidden'>
              {{#each doc.part6}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-7 hidden'>
              {{#each doc.part7}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-8 hidden'>
              {{#each doc.part8}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-9 hidden'>
              {{#each doc.part9}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
            <div class='prose-para part-10 hidden methods'>
              <span>Methods</span>
              {{#each doc.part10}}
                <p>{{{value}}}</p>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='chart-dynamic hidden'>
        </div>
    </div>

</section>
